.signup-page {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #0cba69;
}

.signup-form {
    top: 3rem;
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
}

.right {
    width: 50%;
    height: 100%;
}

#signup-title {
    color: #09884d;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0 15px 0;
}

.left {
    width: 50%;
}

#logo {
    width: 100%;
}

.signup-input {
    height: 30px;
    width: 95%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #0cba69;
    text-decoration: none;
    outline: none;
    color: #434444;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}

.signup-input:focus {
    outline: none;
}

#signup-btn {
    height: 35px;
    width: 95%;
    border-radius: 5px;
    border: none;
    background-color: #0cba69;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.fullname {
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.role-gender {
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.email-phone {
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.password {
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.date-certificate {
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.date-certificate > input {
    margin-bottom: 5px;
}

.input-left {
    margin-left: 5px;
}

.input-right {
    margin-right: 5px;
}

.role-option {
    color: #2c302e;
}

.signup-password-container {
    position: relative;
    width: 100%;
}

.signup-confirmPassword-container {
    position: relative;
    width: 100%;
}

#signup-password-icon {
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 36%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

#signup-confirmPassword-icon {
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 36%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.agree-condition {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-top: 2px;
}

.agree-condition > label {
    font-size: 11px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d1f1e;
}

#agree-checkbox, #label-agree-checkbox, #label-agree-checkbox-error {
    cursor: pointer;
}

#label-agree-checkbox-error {
    color: red;
}

.signup-input-error {
    height: 30px;
    width: 95%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid red;
    text-decoration: none;
    outline: none;
    color: #434444;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}

.signup-input-error::placeholder {
    color: rgba(255, 0, 0, 0.644);
}
