.login-page {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #0cba69;
}

.login-form {
    top: 4rem;
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 66%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
}

.right {
    width: 50%;
    height: 85%;
}

#title {
    color: #09884d;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px 0 25px 0;
}

.left {
    width: 50%;
}

#logo {
    width: 100%;
}

#login-btn {
    height: 35px;
    width: 95%;
    border-radius: 5px;
    border: none;
    background-color: #0cba69;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

#forgot-password {
    color: #09884d;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
}

.forgot-password {
    margin-right: 20px;
}

.password-active {
    display: flex;
    justify-content: space-between;
}

.save-password > label {
    font-size: 12px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d1f1e;
}

.save-password {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-top: 2px;
}

#remember-password, #label-remember-password {
    cursor: pointer;
}

.password-container {
    position: relative;
}

.signin-input {
    height: 35px;
    width: 95%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #0cba69;
    outline: none;
    color: #434444;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}

#password-icon {
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 36%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.signin-input-error {
    height: 35px;
    width: 95%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1.5px solid red;
    text-decoration: none;
    outline: none;
    color: #434444;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}

.signin-input-error::placeholder {
    color: rgba(255, 0, 0, 0.644);
}
