.payment {
    margin-top: 8rem;
    width: 100vw;
    height: auto;
    background-color: whitesmoke;
}

.payment-container {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2rem 8rem;
    justify-content: center;
}

.payment-content {
    display: grid;
    grid-template-rows: 5rem auto 5rem auto;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
    border-radius: 2px;
    padding: 0 3rem;
}

/* payment top */
.payment-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddddddba;
}

.payment-title > h2 {
    font-weight: 200;
    font-size: 18px;
}

.add-payment-btn > button {
    background-color: #38d39f;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 100;
    user-select: none;
    cursor: pointer;
    transition: .2s;
}

.add-payment-btn > button:hover {
    background-color: #62dbb3;
}

#plusIcon-inPayment {
    margin: 0 5px;
}
/* payment top end */


/* payment body */
.payment-body {
    padding: 1rem 2rem;
}

.detail-payment {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddddddba;
    padding: 1rem 0;
}

.default-detail-payment {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.detail-payment-left, .detail-payment-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-payment-left .contact {
    display: flex;
    flex-direction: row;
    padding: 5px 0
}

.detail-payment-left .contact div {
    margin-right: 8px;
    color: #999;
    font-weight: 100;
    font-size: 16px;
}

.payment-name {
    padding: 5px 0;
}

.payment-name p {
    color: #999;
    font-weight: 100;
    font-size: 15px;
}

.detail-payment-left .contact .nick-name {
    color: inherit;
}

.payment-roles {
    display: flex;
    padding-top: 5px;
    user-select: none;
}

.payment-roles #default-payment {
    border: 1px solid #38d39f;
    margin-right: 8px;
    font-size: 14px;
    padding: 3px;
    color: #38d39f;
}

.detail-payment-right {
    display: flex;
    align-items: end;
}

.payment-action a {
    color: #0485cf;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    margin: 5px 5px 5px 8px;
}

.default-detail-payment .set-default-btn button {
    margin: 8px 0;
    padding: 5px 15px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #ddddddba;
    border-radius: 2px;
    user-select: none;
    cursor: not-allowed;
    font-weight: 100;
}

.detail-payment .set-default-btn button {
    margin: 8px 0;
    padding: 5px 15px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #999;
    color: #4e4e4e;
    border-radius: 2px;
    font-weight: 100;
    user-select: none;
    cursor: pointer;
}

.detail-payment .set-default-btn button:hover {
    background-color: #f3f3f3ba;
}
/* payment body end */
