.change-password {
    margin-top: 7rem;
    width: 100vw;
    height: auto;
    background-color: whitesmoke;
}

.change-password-container {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2rem 8rem;
    justify-content: center;
}

.change-password-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
    border-radius: 2px;
    padding: 0 2rem;
}

.change-password-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddddddba;
}

.change-password-top h2 {
    font-weight: 200;
    font-size: 18px;
}

.change-password-top p {
    padding-top: 5px;
    font-size: 14px;
    color: #555;
}

.change-password-body {
    display: flex;
    flex-direction: column;
}

.new-password,
.confirm-password,
.change-password-button {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 3rem;
}
.change-password-body-left {
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.change-password-body-right {
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
}


.change-password-body-right > input {
    height: 3rem;
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    padding-right: 2.5rem;
    border: 1px solid #c2c1c1;
    font-size: 15px;
    outline-color: #38d39f;
    box-sizing: border-box;
}

.change-password-body-right button {
    background-color: #38d39f;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 16px;
    color: white;
    font-weight: 100;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    transition: .2s;
}

.change-password-body-right button:hover {
    background-color: #5ae6b7;
}

.change-password-active-icon {
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
}

.change-password-body-left > label {
    font-size: 15px;
    color: #555;
}